
 header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 100vw;
 }
 /*-----------nav-------------*/
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  
  background:rgba(255, 147, 244, 1);
  height: 74px;
  width:100vw;
  margin:0%;
}
.navBar{
  display: flex;
  align-items: end;
  gap:20px;
}
a{
  color:white;
  text-decoration: none;
  font-size: 25px;
}
.navBar a:hover {
  text-decoration: underline;
  text-decoration-color: rgba(212, 255, 0, 1);
  
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<Banner>>>>>>>>>>>>>*/
.banner {
  position: relative;
  width: 100vw;
  height: 400px;
  overflow: hidden;
  background-image: url(./assets/banner.jpg);
  background-size:100% ;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(27, 22, 41, 0.65); /* Color y opacidad de la superposición */
  pointer-events: none; /* Permite que los eventos pasen a través de la superposición */
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  z-index: 1; /* Asegura que el contenido esté encima de la superposición */
}
.enviar{
  width: 138px;
  height: 50px;
  border-radius: 30px;
  background-color: rgba(212, 255, 0, 1) ;
  font-size: 20px;
  font-weight: bold;
  border: none;
}
.enviar:hover{
  background-color: rgba(255, 147, 244, 1);
  cursor: pointer;
}
